/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  @font-face {
    font-family: myFontForBody;
    src: url(alpha_echo.ttf);
  }

  body {
    font-family: myFontForBody;
    line-height: 15px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  @font-face {
    font-family: myFontForHeader;
    src: url(Gorditas-Bold.ttf);
  }

  header {
    font-family: myFontForHeader;
    letter-spacing: 2px;
  }

  p {
    font-size: 15px;
  }

  h1 {
    text-align: center;
  }

  section > h2+p {
    text-indent: 20px;
  }

  a:link {
    color: #a66;
  }

  a:visited {
    color: #a66;
  }

  a:focus {
    color: #a66;
    outline: none;                    
  }

  a:hover {
    color: #a66;
    text-decoration: none;
  }

  a:active {
    color: yellowgreen;
  }

  a[href^="https://"]:after {
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background-image: url(external-link-52.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  li {
    line-height: 15px;
  }

  nav > ul {
    list-style-type: none;
  }

  nav > ul > li {
    width: 140px;
    height: 40px;
    border: 1px solid #a66;
    padding: 8px;
    margin: 20px;
    text-align: center;
  }

  nav > ul > li > a {
    text-decoration: none;
  }
