body {
    background-color: #000;
}

h1 {
    color: #fff;
}

header {
    width: 25%;
    float: left;
}

nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#filter p {
    width: 10%;
    float: left;
    color: #fff;
}

#filter ul {
    width: 85%;
    float: right;
    list-style-type: none;
    margin: 0;
    text-align: left;
}

#cut_off {
    clear: left;
    border-bottom: 1px solid #fff;
}

#filter li {
    display: inline-block;
    font-size: 1em;
}

#filter li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#search p {
    color: #fff;
    width: 10%;
    float: left;
}

#search div {
    float: right;
    width: 85%;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Style rule for box sizing applies to all elements */
* {
    box-sizing: border-box;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 60vw);
    grid-gap: 15px;
}

/*
.frame {
    position: relative;
    max-width: 600px;
    margin: 2% auto;
}

.movie-info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}*/

#movie_placard {
    float: left;
    width: 30%;
}

#movie_details {
    float: right;
    width: 65%;
}

#movie p {
    text-align: left;
}

#movie_comments {
    clear: left;
}

#form {
    margin-top: 2%;
    background-color: #f2f2f2;
    padding: 2%;
}

/*#form h2 {
    text-align: center;
}*/

fieldset, input, select, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

form #submit {
    margin: 0 auto;
    border: none;
    display: block;
    padding: 1%;
    background-color: #b3b3b3;
    font-size: 1em;
    border-radius: 10px;
}

.personal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 60vw);
    grid-gap: 15px;
}

#answer {
    display: block;
    padding-top: 3%
}